/** RESET CSS **/ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/** ACTUAL CSS **/

header {
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 30px;
  width: 100vw;
}

body {
  background-color: #303030;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-screen {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

h1, h2, h3, h4, h5, p {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  align-items: center;
  padding: 20px;
  background-color: #404040;
  border-radius: 3px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.8);
}

input {
  height: 25px;
  width: 200px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 0px 10px;
}

.main-screen form button {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  margin-top: 8px;
  background-color: 	#3c85f2;
  color: white;
}

.main-screen form button:hover {
  background-color: #669ae8;
}

.main-screen form button:active {
  position: relative;
  top: 3px;
}